# Security & Persistence
vault.db
.env
secret.key

# Desktop App Build Artifacts
build/
dist/
*.spec
run_app.py

# Ignore Python cache
__pycache__/
*.pyc

# Ignore user uploads (Do not commit user transaction screenshots to GitHub)
audit_screenshots/

# Ignore SQLite temp files
*.db-journal
*.db-wal
*.db-shm
